.categoryItem {
    display: flex;
    align-items: center;
    border: 1px solid #ccc9c9;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.categoryItem__icon {
    padding: 0 10px;
}

.categoryItem__link {
    text-decoration: none;
    color: #3B3B3B;
    font-size: 1.2rem;
}

