/* ==== Estilos modificados ==== */

/* Estilos para componentes */
p {
  font-size: 1.2rem;
}
/* Estilos para Clases de reactstrap y clases propias */
.card {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
}

.product-img {
  height: 14rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn-add-cart {
  border-radius: 42px !important;
  background: linear-gradient(to right, #8763fc, #6b83fc, #39bdfb);
  width: 150px;
  margin-bottom: 2rem;
}

.btn-add-cart:hover {
  background: linear-gradient(to right, #39bdfb, #6b83fc, #8763fc);
}

.card-title {
  /* margin-bottom: 0.5rem; */
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.rev-price {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
}

.card-subtitle {
  padding: 1rem;
  font-size: 1rem;
  /* line-height: 1rem; */
}

.review {
  padding: 1rem;
  font-size: 0.88rem;
  line-height: 1rem;
}

.but-cont {
  text-align: center;
}
