/* ==== Estilos modificados ==== */

/* Estilos para componentes */
p {
  font-size: 1.2rem;
}
/* Estilos para Clases de reactstrap y clases propias */
.card {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
  /* text-decoration: none; */
}

.product-img {
  height: 14rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn-add-cart {
  border-radius: 42px !important;
  background-image: linear-gradient(
    to right,
    #8763fc,
    #806afd,
    #7a70fd,
    #7576fd,
    #707cfd,
    #6385ff,
    #578dff,
    #4d94ff,
    #39a0ff,
    #2caaff,
    #2cb4fe,
    #39bdfb
  );
  width: 150px;
  margin-bottom: 2rem;
}

.btn-add-cart:hover {
  background: linear-gradient(
    to right,
    #39bdfb,
    #2cb4fe,
    #2caaff,
    #39a0ff,
    #4d94ff,
    #578dff,
    #6385ff,
    #707cfd,
    #7576fd,
    #7a70fd,
    #806afd,
    #8763fc
  );
}

.card-title {
  /* margin-bottom: 0.5rem; */
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.rev-price {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.card-subtitle {
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  color: #6b83fc;
  text-decoration: none;
  /* line-height: 1rem; */
}

.review {
  padding: 1rem;
  font-size: 0.88rem;
  line-height: 1rem;
  text-decoration: none;
}

.but-cont {
  text-align: center;
}
