#container {
  margin: 50px auto;
  width: 100%;
}

.showcase {
  list-style: none;
  padding: 0 0 40px 40px;
  height: 244px;
}
.showcase li {
  float: left;
  width: 285px;
  height: 244px;
  overflow: hidden;
  margin: 0 13px 0 0;
}
.showcase a {
  display: block;
  width: 285px;
  height: 244px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.showcase a img {
  width: 200px;
  height: 174px;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  top: -4px;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.showcase a:hover img {
  width: 285¿px;
  height: 213px;
  left: 0;
  top: -10px;
  filter: blur(0px) brightness(0.9) contrast(1.24) grayscale(0) hue-rotate(0deg)
    invert(0) opacity(100%) sepia(0) saturate(0);
}
.showcase a p {
  background-image: linear-gradient(
    to right,
    #8763fc,
    #806afd,
    #7a70fd,
    #7576fd,
    #707cfd,
    #6385ff,
    #578dff,
    #4d94ff,
    #39a0ff,
    #2caaff,
    #2cb4fe,
    #39bdfb
  );
  color: #fff;
  font-size: 11px;
  padding: 12px 20px;
  position: absolute;
  bottom: -100px;
  line-height: 20px;
  display: block;
  width: 245px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.showcase a:hover p {
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #8763fcd0,
    #806afcd0,
    #7a70fcd0,
    #7576fcd0,
    #707cfcd0,
    #6385fcd0,
    #578efcd0,
    #4d94fcd0,
    #39a0fcd0,
    #2caafcd0,
    #2cb4fcd0,
    #39bdfcd0
  );
}
.showcase a h3 {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #8763fcd0,
    #806afcd0,
    #7a70fcd0,
    #7576fcd0,
    #707cfcd0,
    #6385fcd0,
    #578efcd0,
    #4d94fcd0,
    #39a0fcd0,
    #2caafcd0,
    #2cb4fcd0,
    #39bdfcd0
  );
  width: 211px;
  padding: 8px 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.showcase a:hover h3 {
  bottom: 94px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-image: linear-gradient(
    to right,
    #39bdfb,
    #2cb4fe,
    #2caaff,
    #39a0ff,
    #4d94ff,
    #578dff,
    #6385ff,
    #707cfd,
    #7576fd,
    #7a70fd,
    #806afd,
    #8763fc
  );
}
.showcase a h3 i {
  width: 33px;
  height: 31px;
  position: absolute;
  right: -34px;
  top: 0;
  background-image: linear-gradient(
    to right,
    #8763fc83,
    #806afc83,
    #7a70fc83,
    #7576fc83,
    #707cfc83,
    #6385fc83,
    #578dfc83,
    #4d94fc83,
    #39a0fc83,
    #2caafc83,
    #2cb4fc83,
    #39bdfc83
  );
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 6px 0 0 0;
}
.showcase a h3 i:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
