/* ===== Provisorio ==== */
ul {
  padding: 0px;
}

.aside {
  margin-bottom: 1rem;
}

.closeB {
  text-align: right;
}

#roundButton.style {
  margin: 0px;
  background-color: transparent !important;
}

.aside h2 {
  font-family: "Roboto";
  font-weight: bold;
  color: rgba(0, 0, 0, 0.479);
  font-size: 225%;
  text-shadow: 0 2px 10px #270021c5;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.aside ul {
  text-align: left;
  padding-left: 2rem;
  margin-bottom: 4rem;
}

.custom-control-label {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
}

.button-cont {
  text-align: center;
}

.button {
  box-shadow: 1px 0px 6px 1px #6b83fc;
  background: linear-gradient(to bottom, #8763fc 5%, #6b83fc 100%);
  background-color: #8763fc;
  border-radius: 42px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 12px;
  text-decoration: none;
  text-shadow: 0px 0px 20px #8763fc;
  font-family: "Roboto";
}

.custom-control.custom-checkbox {
  padding: 0.5rem;
  text-align: left;
}

.custom-control-label {
  margin-left: 1.5rem;
  cursor: pointer;
}

/* ========================0 */
#flyoutMenu {
  width: 27vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    #8763fc88,
    #806afd88,
    #7a70fd88,
    #7576fd88,
    #707cfd88,
    #6385ff88,
    #578dff88,
    #4d94ff88,
    #39a0ff88,
    #2caaff88,
    #2cb4fe88,
    #39bdfb88
  );
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  text-align: center;
  padding: 1.2rem;
  border-radius: 0rem 1rem;
  /* border: 1px solid #000000; */
}

#flyoutMenu.hide {
  transform: translate3d(-50vw, 0, 0);
  transition-duration: 5s, 3s, 5s, 3s;
  overflow: hidden;
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  transition-duration: 2s, 3s, 3s, 3s;
  overflow: hidden;
}

#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu h2 a:hover {
  text-decoration: underline;
}
