.productDetail {
  border: 1px solid #CED4DA;
  border-radius: 10px;
}

.productDeatil__content {
  border-bottom: 1px solid #CED4DA;
  padding-bottom: 2rem;
}

.prod-img {
  display: flex;
  justify-content: center;
}

.prod-img img {
  height: 400px;
  width: 400px;
}

.productInfo {
  border: 1px solid #CED4DA;
  border-radius: 10px;
  padding: 0 1rem;
}

.productTitle {
  font-family: "Roboto";
  text-align: center;
  padding: 2rem 0;
  color: #3B3B3B;
  font-size: 225%;
  text-shadow: 0 0 5px #6b83fc;
}

.productStock {
  font-size: 1.2rem;
  color: #3B3B3B;
  font-weight: 600;
}

.infoCardDescriptionTitle {
  color: #3B3B3B;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0;
}

.infoCardDescription {
  font-family: "Roboto";
  font-size: 1em;
  padding: 1rem 0rem;
  border-bottom: 1px solid#8763fc79;
}

.inforPrice {
  font-family: "Roboto";
  margin: 10px 0;
  color: #3B3B3B;
  font-size: 2.7rem;
  letter-spacing: .1rem;
}

.title-price {
  border-bottom: 1px solid #8763fc79;
}

.star-container {
  padding: 2rem;
}

.with-svg .star {
  width: 20px;
}

.rating-reviews {
  display: flex;
  align-items: center;
}

.rating-reviews-count {
  color: #3B3B3B;
}


.button-container {
  padding: 2rem 3rem;
}

.button-container-disabled {
  display: none;
}

.button {
  background: linear-gradient(to bottom, #8763fc 5%, #6b83fc 100%);
  background-color: #8763fc;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 11px 30px;
  text-decoration: none;
}

.button-secundary {
  font-family: Arial;
  margin-top: 2rem;
  font-size: 17px;
  padding: 11px 30px;
  text-decoration: none;
  border: 1px solid #CED4DA;
  border-radius: 10px;
  background-color: #FEFEFE;
  color: #3B3B3B;
}

.button-secundary:hover {
  background: linear-gradient(to bottom, #8763fc 5%, #6b83fc 100%);
  color: white;
  border: none;
}

textarea:focus,
.button:focus {
  outline: none;
}
.button:hover {
  background: linear-gradient(to bottom, #6b83fc 5%, #8763fc 100%);
  background-color: #6b83fc;
}

.button:active {
  position: relative;
  top: 1px;
}

.warning-alert {
  border: 1px solid #CED4DA;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  color: #3B3B3B;
}