.order__card {
    border: 1px solid #ccc9c9;
}

.order__status {
    background-color: red;
}

.order__images {
    display: flex;
    justify-content: center;
}

.order__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}