/* ====== elements ======== */
li {
  list-style-type: none;
}
li:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  /* transition: all 0.3s ease-in-out; */
  /* overflow: hidden; */

  /* box-shadow: 5px 2px 6px 3px #6b83fc54; */
}

/* ====== Ppal container ======= */

.but-cont {
  display: flex;
  width: 100px;
  height: 100px;
  background: #abafc07e;
  border-radius: 30px;
  margin: 0;
}

/* ======= Container ======== */
div.container-ppal {
  margin: 0%;
  margin-left: 0%;
  min-width: 100%;
  align-items: right;
}
div.container {
  width: 100%;
  display: flex;
  margin: 0px 0px 0px 10px;
  min-width: 100%;
  padding: 0px;
}

/* ======== Catalogo ========== */

.catalogo {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem 0rem 0rem 3rem;
  margin-top: 1rem;
}

/* ======== ProductCard ======= */

.products {
  max-width: 100px;
  display: inline-flex;
  text-align: center;
  padding: 0.5rem;
  margin-top: 10px;
}

.list {
  display: flex;
}

.listItem {
  display: inline-block;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
